{
	"id": "1a8056fb-3c25-4fbc-9814-d7ee9d6fea0a",
	"name": "Photector",
	"values": [
		{
			"key": "username",
			"value": "ENTER-YOUR-PHOTECTOR-USERNAME-HERE",
			"description": "",
			"enabled": true
		},
		{
			"key": "password",
			"value": "ENTER-YOUR-PHOTECTOR-PASSWORD-HERE",
			"description": "",
			"enabled": true
		},
		{
			"key": "client_id",
			"value": "ENTER-YOUR-CLIENT-ID-HERE",
			"description": "",
			"enabled": true
		},
		{
			"key": "client_secret",
			"value": "ENTER-YOUR-CLIENT-SECRET-HERE",
			"description": "",
			"enabled": true
		},
		{
			"key": "access_token",
			"value": "",
			"enabled": true
		},
		{
			"key": "baseUrl",
			"value": "https://app.photector.com/api/v1",
			"description": "",
			"enabled": true
		},
		{
			"key": "eventId1",
			"value": "ENTER-AN-EVENTID-HERE",
			"description": "",
			"enabled": true
		},
		{
			"key": "eventId2",
			"value": "ENTER-AN-EVENTID-HERE",
			"description": "",
			"enabled": true
		},
		{
			"key": "eventId3",
			"value": "ENTER-AN-EVENTID-HERE",
			"description": "",
			"enabled": true
		},
		{
			"key": "eventId4",
			"value": "ENTER-AN-EVENTID-HERE",
			"description": "",
			"enabled": true
		},
		{
			"key": "client_id_alt",
			"value": "ENTER-YOUR-ALTERNATE-CLIENT-ID-HERE",
			"description": "",
			"enabled": true
		},
		{
			"key": "client_secret_alt",
			"value": "ENTER-YOUR-ALTERNATE-CLIENT-SECRET-HERE",
			"description": "",
			"enabled": true
		}
	],
	"_postman_variable_scope": "environment",
	"_postman_exported_at": "2019-04-08T15:48:48.015Z",
	"_postman_exported_using": "Postman/7.0.7"
}